{% extends 'arc/student/base.html' %}
{% block content %}
<div class="container-fluid dashboard-body">
    <div class="row">
        <div class="col-md-6 col-md-offset-3 col-sm-12">
            <div class="card card-login">
                <form method="post" action="/update-password/">
                <div class="card-header"><h4 class="title">Sila Tukar Kata Laluan Anda</h4></div>
                <div class="card-content">
                    <div class="row">
                        <div class="col-md-12">
                            {{ csrf_input }}
                            {% if error_message %}
                            <span style="color: #ff0000; margin-bottom: 20px; display: block; text-align: center;">{{ error_message }}</span>
                            {% endif %}
                            <div class="form-group">
                                <label>Kata laluan baharu</label>
                                <input type="password" placeholder="Kata laluan baharu" name="password"
                                       class="form-control input-no-border">
                            </div>
                            <div class="form-group">
                                <label>Kata laluan baharu (ulangi)</label>
                                <input type="password" placeholder="Kata laluan baharu (ulangi)" name="password_repeat"
                                       class="form-control input-no-border">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card-footer text-center">
                    <button type="submit" class="btn btn-fill btn-wd">Tukar Kata Laluan</button>
                </div>
                </form>
            </div>
        </div>
    </div>

</div>
{% endblock %}
